# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/logs
.env*
.phpunit.result.cache
.phpunit.cache

# Laravel specific
Homestead.yaml
Homestead.json
.env.backup
.env.production
.env.testing

# Editor/IDE
/.vscode
/.idea
/.fleet
/.phpactor.json
/.phpunit.cache
/.zed

# System
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log

# Build tools
/public/hot
/public/build
/public/mix-manifest.json

# Nova (nếu dùng)
.nova

# Composer Auth
auth.json
